<div class="container mt-5">
    @if(property){

    <form [formGroup]="bookingForm" (ngSubmit)="onSubmit()" class="p-4 border rounded shadow-sm bg-light">
      <div class="mb-3">
        <label for="checkInDate" class="form-label">Check-In Date:</label>
        <input type="date" id="checkInDate" formControlName="checkInDate" class="form-control">
      </div>
  
      <div class="mb-3">
        <label for="checkOutDate" class="form-label">Check-Out Date:</label>
        <input type="date" id="checkOutDate" formControlName="checkOutDate" class="form-control">
      </div>
  
      <div class="mb-3">
        <label for="totalPrice" class="form-label">Total Price: {{property.price}}</label>
        <input type="number" id="totalPrice" formControlName="totalPrice" class="form-control" placeholder="Enter total price">
      </div>
  
      <button type="submit" class="btn btn-primary w-100">Create Booking</button>
    </form>
}
@else {
    <p>ERROR</p>
}
  </div>
  