<div *ngIf="isLoading" class="text-center mt-5">
  <div class="spinner-grow text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-danger" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div *ngIf="!isLoading">
<div class="container mt-5">
    <h2>Checkout</h2>
    <app-billing-details></app-billing-details>
    <app-payment-method></app-payment-method>
    <app-order-summary></app-order-summary>
  </div>
</div>
  