@media (min-width: 1128px) {
    ._1cdb32y {
        width: 50% !important;
        display: inline-block !important;
        vertical-align: middle !important;
    }
}

._1087zl9 {
    margin-left: auto !important;
    margin-right: auto !important;
}

@media (min-width: 1128px) {
    ._1087zl9 {
        max-width: 410px !important;
    }
}

._qzcds1 {
    margin-bottom: 32px !important;
}

._12fm2mi {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    height: 208px !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-align-items: center !important;
    align-items: center !important;
    -webkit-justify-content: center !important;
    justify-content: center !important;
}

@media (min-width: 744px) {
    ._12fm2mi {
        height: 216px !important;
    }
}

._18tkw86 {
    margin-bottom: 24px !important;
}

._174adpc {
    -webkit-box-direction: normal !important;
    -webkit-box-orient: vertical !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    position: relative !important;
    margin-bottom: 16px !important;
}

@media (min-width: 1128px) {
    ._174adpc {
        width: 50% !important;
        display: inline-block !important;
        vertical-align: middle !important;
    }
}

._15bream {
    -webkit-box-flex: 1 !important;
    -ms-flex-positive: 1 !important;
    min-height: auto !important;
    -webkit-flex-grow: 1 !important;
    flex-grow: 1 !important;
}

._1q2zq87x {
    -webkit-box-flex: 1 !important;
    -ms-flex-positive: 1 !important;
    -webkit-box-direction: normal !important;
    -webkit-box-orient: vertical !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    position: relative !important;
    margin-bottom: 0px !important;
    -webkit-flex-grow: 1 !important;
    flex-grow: 1 !important;
}

@media (min-width: 1128px) {
    ._1q2zq87x {
        width: 50% !important;
        display: inline-block !important;
        vertical-align: middle !important;
    }
}

._1l2s2me {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    position: relative !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-justify-content: center !important;
    justify-content: center !important;
    background: #FFFFFF !important;
    padding: 16px !important;
}

._v6xam4 {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    padding-right: 16px !important;
}

._1lturmle {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    font-size: 0.875rem !important;
    line-height: 1.125rem !important;
    color: #222222 !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-align-items: center !important;
    align-items: center !important;
    -webkit-justify-content: center !important;
    justify-content: center !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    border-radius: 40px !important;
    padding-left: 20px !important;
    height: 64px !important;
    width: 100% !important;
    outline: none !important;
    background-color: #e6e3df !important;
    border: none !important;
}

._1lturmle:focus {
    outline: none !important;
}

._1lturmle::-moz-focus-inner {
    border: none !important;
    padding: 0px !important;
    margin: 0px !important;
}

._1lturmle:focus::-moz-focus-inner {
    border: none !important;
}

._1lturmle:-moz-focusring {
    outline: none !important;
}

._1lturmle:focus-visible {
    -webkit-transition: box-shadow 0.2s ease !important;
    -moz-transition: box-shadow 0.2s ease !important;
    transition: box-shadow 0.2s ease !important;
    background-color: #F7F7F7 !important;
    border: 2px solid #222222 !important;
}

@media (prefers-reduced-motion: reduce),
(update: slow),
(update: none) {
    ._1lturmle:focus-visible {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        transition: none !important;
    }
}

@media (min-width: 1128px) {
    ._1lturmle {
        font-size: 1rem !important;
        line-height: 1.25rem !important;
    }
}

._1g6pa9 {
    background-color: #e6e3df !important;
    border-radius: 16px !important;
    min-height: 230px !important;
    aspect-ratio: 20 / 19 !important;
}

@media (min-width: 744px) {
    ._1g6pa9 {
        width: 100% !important;
        height: 400px !important;
    }
}

@media (min-width: 1128px) {
    ._1g6pa9 {
        height: 610px !important;
    }
}

._1d08r160 {
    position: relative !important;
    width: 100% !important;
    margin-left: 0% !important;
    margin-right: 0% !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
}

@media (min-width: 375px) {
    ._1d08r160 {
        padding-left: 6px !important;
        padding-right: 6px !important;
    }
}

@media (min-width: 744px) {
    ._1d08r160 {
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
}

@media (min-width: 950px) {
    ._1d08r160 {
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
}

@media (min-width: 1128px) {
    ._1d08r160 {
        width: 83.33333333333334% !important;
        margin-left: 8.333333333333332% !important;
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
}

@media (min-width: 1440px) {
    ._1d08r160 {
        width: 66.66666666666666% !important;
        margin-left: 16.666666666666664% !important;
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
}

._tngsf5h {
    position: relative !important;
    width: 100% !important;
    margin-left: 0% !important;
    margin-right: 0% !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
}

@media (min-width: 375px) {
    ._tngsf5h {
        padding-left: 6px !important;
        padding-right: 6px !important;
    }
}

@media (min-width: 744px) {
    ._tngsf5h {
        width: 83.33333333333334% !important;
        margin-left: 8.333333333333332% !important;
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
}

@media (min-width: 950px) {
    ._tngsf5h {
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
}

@media (min-width: 1128px) {
    ._tngsf5h {
        width: 83.33333333333334% !important;
        margin-left: 8.333333333333332% !important;
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
}

@media (min-width: 1440px) {
    ._tngsf5h {
        width: 66.66666666666666% !important;
        margin-left: 16.666666666666664% !important;
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
}

._ev6whh {
    position: relative !important;
    background-color: #F7F7F7 !important;
    border-top: 1px solid #DDDDDD !important;
    padding-bottom: 80px !important;
}

._1s94zl78 {
    padding-left: 24px !important;
    padding-right: 24px !important;
    margin: 0 auto !important;
    max-width: 1440px !important;
}

@media (min-width: 375px) {
    ._1s94zl78 {
        padding-left: 24px !important;
        padding-right: 24px !important;
    }
}

@media (min-width: 744px) {
    ._1s94zl78 {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
}

@media (min-width: 950px) {
    ._1s94zl78 {
        padding-left: 40px !important;
        padding-right: 40px !important;
    }
}

@media (min-width: 1128px) {
    ._1s94zl78 {
        padding-left: 80px !important;
        padding-right: 80px !important;
    }
}

@media (min-width: 1440px) {
    ._1s94zl78 {
        padding-left: 80px !important;
        padding-right: 80px !important;
    }
}

@supports(--a:a) {
    ._1s94zl78 {
        max-width: var(--page-shell-max-content-width, 1440px) !important;
    }
}

._fyxf74 {
    padding: 32px 0 !important;
}

@media (min-width: 744px) {
    ._fyxf74 {
        -webkit-box-direction: normal !important;
        -webkit-box-orient: vertical !important;
        display: -webkit-box !important;
        display: -moz-box !important;
        display: -ms-flexbox !important;
        display: -webkit-flex !important;
        display: flex !important;
        -webkit-flex-direction: column !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        padding-top: 40px !important;
        padding-bottom: 40px !important;
    }
}

@media (min-width: 1128px) {
    ._fyxf74 {
        -webkit-box-direction: normal !important;
        -webkit-box-orient: horizontal !important;
        -webkit-flex-direction: row !important;
        -ms-flex-direction: row !important;
        flex-direction: row !important;
        padding-top: 48px !important;
        padding-bottom: 48px !important;
        margin-left: -12px !important;
        margin-right: -12px !important;
    }
}

._1wsqynx {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
    border-top: 1px solid #DDDDDD !important;
}

@media (min-width: 744px) {
    ._1udzt2s {
        display: none !important;
    }
}

._qr5vxk {
    margin-bottom: 22px !important;
}

._15m7xnk {
    display: none !important;
}

@media (min-width: 744px) {
    ._15m7xnk {
        display: initial !important;
    }
}

@media (min-width: 1128px) {
    ._15m7xnk {
        display: none !important;
    }
}

._wxdo12 {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-justify-content: center !important;
    justify-content: center !important;
    margin-bottom: 16px !important;
}

._1fqnaqg {
    margin-left: 48px !important;
}

._1sv27e6 {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-justify-content: center !important;
    justify-content: center !important;
}

._ar9stc {
    display: none !important;
}

@media (min-width: 1128px) {
    ._ar9stc {
        -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
        display: -webkit-box !important;
        display: -moz-box !important;
        display: -ms-flexbox !important;
        display: -webkit-flex !important;
        display: flex !important;
        -webkit-justify-content: space-between !important;
        justify-content: space-between !important;
    }
}

._jro6t0 {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
}

._3qymq {
    margin-left: 24px !important;
}

._sovp2k:not(:last-child) {
    margin-right: 24px !important;
}

._xmk1z0p {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    font-style: inherit !important;
    font-variant: inherit !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background: transparent !important;
    border: 0 !important;
    cursor: pointer !important;
    margin: 0 !important;
    padding: 0 !important;
    -webkit-user-select: auto !important;
    -moz-user-select: auto !important;
    -ms-user-select: auto !important;
    user-select: auto !important;
    font-size: 0.875rem !important;
    line-height: 1.125rem !important;
    color: #222222 !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-align-items: center !important;
    align-items: center !important;
    white-space: nowrap !important;
    text-decoration: none !important;
    outline: none !important;
}

@media (hover: hover) {
    ._xmk1z0p:hover {
        cursor: pointer !important;
        color: inherit !important;
        text-decoration: underline !important;
    }
}

._xmk1z0p:focus {
    color: inherit !important;
    text-decoration: underline !important;
}

._xmk1z0p:disabled {
    cursor: not-allowed !important;
}

@media (hover: hover) {
    ._xmk1z0p:disabled:hover {
        text-decoration: none !important;
    }
}

._xmk1z0p:hover {
    text-decoration: none !important;
}

._xmk1z0p::-moz-focus-inner {
    border: none !important;
    padding: 0px !important;
    margin: 0px !important;
}

._xmk1z0p:focus::-moz-focus-inner {
    border: none !important;
}

._xmk1z0p:-moz-focusring {
    outline: none !important;
}

._xmk1z0p:focus-visible {
    color: #222222 !important;
    text-decoration: underline !important;
    -webkit-transition: box-shadow 0.2s ease !important;
    -moz-transition: box-shadow 0.2s ease !important;
    transition: box-shadow 0.2s ease !important;
    border-radius: 2px !important;
    box-shadow: 0px 0px 0px 2px rgb(255, 255, 255), 0px 0px 0px 4px #222222 !important;
}

@media (prefers-reduced-motion: reduce),
(update: slow),
(update: none) {
    ._xmk1z0p:focus-visible {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        transition: none !important;
    }
}

._j8ldew {
    display: none !important;
}

@media (min-width: 1128px) {
    ._j8ldew {
        display: inline-block !important;
    }
}

@media (min-width: 744px) {
    ._pd8gea {
        text-align: center !important;
    }
}

@media (min-width: 1128px) {
    ._pd8gea {
        text-align: left !important;
    }
}

@media (min-width: 1128px) {
    ._1fx0lfx {
        overflow: hidden !important;
        padding: 4px !important;
        margin: -4px !important;
    }
}

._lldyhy {
    font-size: 0.875rem !important;
    line-height: 1.125rem !important;
    color: #222222 !important;
    display: inline-block !important;
    margin-bottom: 2px !important;
}

@media (min-width: 1128px) {
    ._lldyhy {
        margin-bottom: 0px !important;
    }
}

@media (min-width: 1128px) {
    ._zlfm26 {
        display: inline-block !important;
    }
}

._1sbp7g1 {
    display: inline-block !important;
    text-align: center !important;
    width: 19px !important;
    font-size: 0.875rem !important;
    line-height: 1.125rem !important;
}

._imc3r08 {
    font-family: inherit !important;
    font-style: inherit !important;
    font-variant: inherit !important;
    position: relative !important;
    text-decoration: none !important;
    color: #222222 !important;
    font-size: 0.875rem !important;
    line-height: 1.125rem !important;
    font-weight: var(--linaria-theme_typography-weight-book, 400) !important;
    outline: none !important;
}

@media (hover: hover) {
    ._imc3r08:hover {
        cursor: pointer !important;
        color: inherit !important;
        text-decoration: underline !important;
    }
}

._imc3r08:focus {
    color: inherit !important;
    text-decoration: underline !important;
}

._imc3r08::-moz-focus-inner {
    border: none !important;
    padding: 0px !important;
    margin: 0px !important;
}

._imc3r08:focus::-moz-focus-inner {
    border: none !important;
}

._imc3r08:-moz-focusring {
    outline: none !important;
}

._imc3r08:focus-visible {
    color: #222222 !important;
    text-decoration: underline !important;
    -webkit-transition: box-shadow 0.2s ease !important;
    -moz-transition: box-shadow 0.2s ease !important;
    transition: box-shadow 0.2s ease !important;
    border-radius: 2px !important;
    box-shadow: 0px 0px 0px 2px rgb(255, 255, 255), 0px 0px 0px 4px #222222 !important;
}

@media (prefers-reduced-motion: reduce),
(update: slow),
(update: none) {
    ._imc3r08:focus-visible {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        transition: none !important;
    }
}

._115qwnm {
    list-style: none !important;
    margin: 0px !important;
    padding: 0px !important;
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
}

._1xbvnt9:not(:last-child) {
    margin-right: 16px !important;
}

._j7hlqym {
    font-size: inherit !important;
    font-family: inherit !important;
    font-weight: inherit !important;
    font-style: inherit !important;
    font-variant: inherit !important;
    line-height: inherit !important;
    display: block !important;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    color: #222222 !important;
    text-decoration: none !important;
    outline: none !important;
}

@media (hover: hover) {
    ._j7hlqym:hover {
        cursor: pointer !important;
        color: inherit !important;
        text-decoration: underline !important;
    }
}

._j7hlqym:hover {
    text-decoration: none !important;
}

._j7hlqym:focus {
    color: inherit !important;
    text-decoration: none !important;
}

._j7hlqym::-moz-focus-inner {
    border: none !important;
    padding: 0px !important;
    margin: 0px !important;
}

._j7hlqym:focus::-moz-focus-inner {
    border: none !important;
}

._j7hlqym:-moz-focusring {
    outline: none !important;
}

._j7hlqym:focus-visible {
    color: #222222 !important;
    text-decoration: underline !important;
    -webkit-transition: box-shadow 0.2s ease !important;
    -moz-transition: box-shadow 0.2s ease !important;
    transition: box-shadow 0.2s ease !important;
    border-radius: 2px !important;
    box-shadow: 0px 0px 0px 2px rgb(255, 255, 255), 0px 0px 0px 4px #222222 !important;
}

@media (prefers-reduced-motion: reduce),
(update: slow),
(update: none) {
    ._j7hlqym:focus-visible {
        -webkit-transition: none !important;
        -moz-transition: none !important;
        transition: none !important;
    }
}
