<div class="container page-container page-container-responsive" style="margin-top: 5rem;">
    <div class="row space-top-8 space-8">
        <div class="col-md-6 d-flex align-items-center">
            <div>
                <h1 class="text-jumbo text-ginormous">Oops!</h1>
                <h2>We can't seem to find the page you're looking for.</h2>
                <h6>Error code: 404</h6>
                <ul class="list-unstyled">
                    <li>Here are some helpful links instead:</li>
                    <li><a href="/" class="text-info">Home</a></li>
                    <li><a href="/search" class="text-info">Search</a></li>
                    <li><a href="/help" class="text-info">Help</a></li>
                    <li><a href="/help/getting-started/how-to-travel" class="text-info">Traveling on Airbnb</a></li>
                    <li><a href="/info/why_host" class="text-info">Hosting on Airbnb</a></li>
                    <li><a href="/trust" class="text-info">Trust & Safety</a></li>
                    <li><a href="/sitemaps" class="text-info">Sitemap</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <img src="https://a0.muscache.com/airbnb/static/error_pages/404-Airbnb_final-d652ff855b1335dd3eedc3baa8dc8b69.gif" width="313" height="428" alt="Girl has dropped her ice cream.">
        </div>
    </div>
</div>

